$base-font-family: "acumin-pro",sans-serif;
$display-family: "acumin-pro-wide",sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
}

p,
.s-type{
    font-size: 12px;
    line-height: 16px;
}

.t-display {
  font-family: $display-family;
}

.t-bold {
  font-weight: bold;
}

h1,
.l-type {
    margin: 0;
    letter-spacing: 0.6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.p-large {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}
