<header>
    <div class="container">
        <ul class="no-list about-gabe s-type">
            <li class="white">Gabe Kelley</li>
            <li class="white-40">Designer and Developer</li>
            <li class="white-20">Richmond, VA</li>
        </ul>
        <div class="mission">
            <h1 class="white">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis.</h1>
        </div>
    </div>
</header>
