footer {
  margin-top: 32px;
  p {
    font-size: 0;
  }
  a {
    border-top: 1px solid $black;
    padding: 16px 0;
    color: $black;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    & + a {
      border-left: 1px solid $black;
    }
    &:hover {
      background: $black;
      color: $white;
      cursor: pointer;
    }
    @media screen and (min-width: 768px) {
      display: inline-block;
      vertical-align: middle;
      width: 25%;
    }
  }
}
