.index-head {
    height: 100vh;
    padding: 32px 0;
    background: $black;
    color: $white;
    position: relative;
    -webkit-font-smoothing: antialiased;

    .p-large {
        margin: 0;
    }

    .container {
        height: 100%;
        @include vendor-prefix(display, flex);
        @include vendor-prefix(flex-direction, column-reverse);
        @media screen and(min-width: 768px) {
            @include vendor-prefix(flex-direction, row);
        }
    }

    .about {
        margin-bottom: 10px;

        p {
            line-height: 10px;
        }

        @media screen and (min-width: 768px) {
            @include vendor-prefix(flex, 1);
            text-align: right;
            margin-bottom: 0;
        }
    }

    .nav-links {
        margin-top: 48px;
    }

    a.nav-link {
        font-family: $display-family;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1.4px;
        font-weight: 500;
        color: white;

        & + a.nav-link {
            margin-left: 24px;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 128px 0;
    }
}

.bio {
    @include vendor-prefix(display, flex);
    @include vendor-prefix(flex-direction, column);
    border-bottom: 1px solid $white;
    height: 100%;

    &__block {
        border-top: 1px solid $white;
        padding: 8px 0 12px;
        width: 100%;

        h2 {
            margin: 0;
            font-family: $display-family;
            font-weight: 400;
        }

        &.one {
            @include vendor-prefix(flex, 1);
        }

        &.two {
            @include vendor-prefix(flex, 2);
        }

        &.four {
            @include vendor-prefix(flex, 4);
        }

        &.eighteen {
            @include vendor-prefix(flex, 18);
        }
    }

    @media screen and (min-width: 768px) {
        @include vendor-prefix(flex, 2);
    }
}
