.index-head {
    height: 100vh;
    padding: 64px 0 32px;
    background: $black;
    color: $white;
    position: relative;
    -webkit-font-smoothing: antialiased;

    .p-large {
        width: 90%;
        max-width: 720px;
        margin: 0;
    }

    .about {
        position: absolute;
        bottom: 32px;

        @media screen and (min-width: 768px) {
            bottom: 64px;
        }
    }

    .nav-links {
        margin-top: 48px;
    }

    a.nav-link {
        font-family: $display-family;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1.4px;
        font-weight: 500;
        color: white;

        & + a.nav-link {
            margin-left: 24px;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 128px 0 64px;
    }
}
